<div class="w-100 h-100 bg-dark card rounded-0  overflow-hidden">
  <canvas id="q" class="w-100 h-100 card-img"></canvas>
  <div class="card-img-overlay w-100 h-100 row m-0 align-items-center">
    <form class="col p-0" [formGroup]="adminAuthorizationForm" (ngSubmit)="submitAdminAuthorizationForm()">
    <div class="card col-lg-6 mx-auto border-primary bg-dark p-0 text-light"
         style="box-shadow: 0 0 5em blueviolet;">
      <h1 class="card-header text-center m-0" >Авторизация в панель администратора</h1>
      <h3 class="card-header mx-5 rounded border-danger mb-0 border mt-2 text-center m-0 text-danger" *ngIf="authMes"><b>{{authMes}}</b></h3>
      <div class="card-body">
        <label for="adminLogin">Логин</label>
        <div class="input-group mb-3" id="adminLogin">
          <input formControlName="adminLogin" type="text" placeholder="Логин" class="form-control"
                 [ngClass]="{'is-valid': adminAuthorizationForm.controls.adminLogin.valid &&  adminAuthorizationForm.controls.adminLogin.touched,
                 'is-invalid': adminAuthorizationForm.controls.adminLogin.invalid &&  adminAuthorizationForm.controls.adminLogin.touched}">
        </div>

        <label for="adminPassword">Пароль</label>
        <div class="input-group" id="adminPassword">
          <input type="password" formControlName="adminPassword" placeholder="Пароль" class="form-control"
                 [ngClass]="{'is-valid': adminAuthorizationForm.controls.adminPassword.valid &&  adminAuthorizationForm.controls.adminPassword.touched,
                 'is-invalid': adminAuthorizationForm.controls.adminPassword.invalid &&  adminAuthorizationForm.controls.adminPassword.touched}"
          >
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-block"
                [disabled]="adminAuthorizationForm.invalid"
                [ngClass]="{'btn-outline-success':adminAuthorizationForm.valid, 'btn-outline-secondary':adminAuthorizationForm.invalid}"
                type="submit">Авторизаоваться</button>
      </div>
    </div>

  </form>
  </div>
</div>


