html, body {
  height: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y:auto;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import '~bootstrap/scss/bootstrap';

.backdropBackground {
  backdrop-filter: blur(15px) brightness(70%);
}
::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}
.carousel-inner{
  height: 100% !important;
}
.carousel-item{
  height: 100% !important;
}



::-webkit-scrollbar-thumb {
  border-radius: 0.3em;
  background-color: darkgrey;

}
/*.app-full-bleed-dialog .mat-dialog-container { padding: 0;}*/
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

